.search {
    position: absolute;
    top: 150px;
    left: 20%;
    width: 100vw;
    z-index: 100;
}

.dateBtn>h2 {
    margin-top: 0%;
    margin-bottom: 0%;
}

#dateInput {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 12px;
    margin-top: 0%;
}

input:focus {
    outline-width: none;
}
