.banner {
    /* Background image of a nice apartment */
    background-image: url('https://images.unsplash.com/photo-1560448204-e02f11c3d0e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    height: 150vh;
    position: relative;
    background-size: cover;
}

#banner_content {
    display: grid;
    position: relative;
    align-self: center;
    background-color: black;
    padding: 25vh 50px 40px 50px;
    width: 300px;
    color: white;
    /* grid-area: 1 / 1 / 1 / 1 !important; */
    /* min-width: 0px !important; */
    /* overflow-wrap: anywhere !important; */
}
