.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    z-index: 100;
    width: 100%;
    margin: none;
}

/* Align the two buttons side-by-side */
.profile_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 2s ease-in-out;
    box-shadow: 2px 2px black;
    outline: none;
}

.fa-user-circle {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.profile .header_icon {
    object-fit: contain;
    height: 20px;
    margin-left: 20px;
    background-color: black;
}

.header_center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: max-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
    background-color: white;
}

.header_center>input {
    border: none;
    padding: 10px;
    outline-width: 0;
}

.header_right {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}

*/ .fa-solid {
    /* background-color: transparent; */
    color: white;
}

.fa-magnifying-glass {
    color: black;
}
